#articlefeedbackv5-watchlist-feedback-link {
	/* @embed */
	background-image: url(../jquery.articleFeedbackv5/images/toolbox_discuss.png);
	background-image: -webkit-linear-gradient(transparent, transparent), url(../jquery.articleFeedbackv5/images/toolbox_discuss.svg);
	background-image: -moz-linear-gradient(transparent, transparent), url(../jquery.articleFeedbackv5/images/toolbox_discuss.svg);
	background-image: linear-gradient(transparent, transparent), url(../jquery.articleFeedbackv5/images/toolbox_discuss.svg);

	background-repeat: no-repeat;
	background-position: left;
	background-size: 20px 20px;

	padding: 5px 0 5px 25px;
	margin-left: 20px;
}
