table.person {
	margin-bottom: 1em;
	border: 0;
}

table.person td.name {
	font-weight: bold;
}

#shareOptions .social {
	float: left;
	text-align: center;
	margin-right: 12px;
	margin-bottom: 3px;
	font-size: small;
}

#contacts {
	min-width: 250px;
	float: left;
	font-size: 120%;
}

#instructions {
	float: left;
	margin: 0 5em;
}

div.stateform {
	text-align: center;
	margin: 0 1em 1em 1em;
	padding: 0 40px 20px 40px;
	background-color: #d00;
}

div.stateform label {
	color: #fff;
	font-weight: bold;
	font-size: 16px;
}

div.stateform .oo-ui-dropdownInputWidget {
	width: 18em !important;
}

.oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-progressive > .oo-ui-buttonElement-button,
.oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-progressive > .oo-ui-buttonElement-button:hover,
.oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-progressive > .oo-ui-buttonElement-button:active {
	background-color: #000 !important;
	border-color: #000 !important;
}
