/* Articles Home */
#main {
	padding: 0 !important;
}

.main-page-left {
	float: left;
	width: 60%;
	padding: 10px 0 0 0;
}

.main-page-right {
	float: right;
	width: 35%;
	padding: 10px 0 0 0;
}

.main-page-sub-links a {
	color: #797979;
}

.side-articles {
	margin: 0 0 25px 0;
}

.side-articles h2 {
	font-size: 1.5em;
	padding: 0 0 5px 0;
	margin: 0 0 10px 0 !important;
	border-bottom: 1px solid #dcdcdc !important;
}

.side-articles .listpageItem {
	padding: 0;
	margin: 0;
	font-size: 11px;
	width: 350px;
}

.side-articles .showdetails a {
	font-size: 12px;
}

/* Logged-In Articles */
.logged-in-articles {
	margin: 0 0 18px 0;
}

.logged-in-articles h2 {
	font-size: 1.5em;
	margin: 0 0 10px 0;
	padding: 0 0 3px 0;
	border-bottom: 1px solid #dcdcdc;
}

.logged-in-articles p {
	margin: 10px 0 10px 0 !important;
}

.logged-in-articles .listpageItem {
	padding: 0 0 10px 0;
	margin: 0 0 10px 0;
	width: 600px;
}

.side-articles .listpages-item {
	margin-top: 5px !important;
}

.side-articles a {
	font-size: 12px !important;
}

.main-page-left .listpages-item a {
	font-size: 16px;
}

.listpages-blurb {
	font-size: 11px !important;
	line-height: 14px !important;
}

.main-page-left .listpages-item .listpages-blurb a {
	font-size: 11px !important;
}
/* The following has been copypasted from Sports.css (the main CSS file for the ArmchairGM skin) */
/* ListPages */
.listpages-left {
	float: left;
	border: 1px solid #dcdcdc;
	width: 500px;
}

.listpages-link {
	margin: 0;
	padding: 0;
}

.listpages-item {
	margin-top: 10px;
}

.listpages-item a {
	text-decoration: underline;
	font-weight: 700;
}

.listpages-image {
	float: left;
	margin-right: 10px;
}

.listpages-categories {
	color: #78ba5d;
	font-size: 10px;
	font-weight: 700;
}

.listpages-categories a {
	color: #78ba5d;
	font-size: 10px;
	text-decoration: none;
	border-bottom: 1px dotted #78ba5d;
}

.listpages-date {
	color: #888;
	font-size: 10px;
}

.listpages-stats {
	color: #666;
	font-weight: 700;
	font-size: 11px;
}

.listpages-stats img {
	vertical-align: middle;
	margin: -2px 1px 0 2px;
}

.listpages-votebox {
	float: left;
	margin: 0 10px 3px 0;
	text-align: center;
	width: 25px;
}

.rating-total {
	color: #666;
	font-weight: 700;
	font-size: 11px;
}

.listpages-votebox-number {
	background-color: #89c46f;
	color: #fff;
	padding: 3px 0 0;
	margin: 0 0 2px 0;
	font-weight: 700;
	height: 22px;
}

.listpages-votebox-text {
	margin: -1px 0 0 0;
	font-size: 9px;
	color: #777;
	line-height: 9px;
}

.listpages-commentbox-number {
	background-color: #ffa500;
	color: #fff;
	font-weight: 700;
	height: 22px;
	margin: 0 0 2px;
	padding: 3px 0 0;
}

.listpages-blurb {
	margin: 0 0 2px 0;
}

.listpages-blurb a {
	font-size: 11px;
	text-decoration: underline;
}

.listpages-nav-buttons {
	margin: 10px 0 0 0;
}

.listpages-blurb-size-small {
	font-size: 11px;
	line-height: 15px;
}

.listpages-blurb-size-medium {
	font-size: 12px;
	line-height: 16px;
}

.listpages-blurb-size-large {
	font-size: 13px;
	line-height: 17px;
}

.listpage-button {
	background-color: #dcdcdc;
	border: 1px solid #dcdcdc;
	color: #376ea6;
	font-size: 12px;
	padding: 3px;
	margin: 0 3px 0 0;
}

.listpage-button-off {
	background-color: #fafafa;
	border: 1px solid #dcdcdc;
	color: #797979;
	font-size: 12px;
	padding: 3px;
	margin: 0 3px 0 0;
}

.listpages-nav-buttons a {
	margin: 0 5px 0 0;
}
