<h1 id="mw-book-images" data-mw-sectionnumber={{level}}>{{headingMsg}}</h1>
<ul>
	{{#images}}
		<li>
			<b>{{title}}</b>
			<i>{{sourceMsg}}</i>: {{url}}
			<i>{{licenseMsg}}</i>: {{credits}}
			<i>{{artistMsg}}</i>: {{{artist}}} {{! artist may contain safe HTML }}
		</li>
	{{/images}}
</ul>
