<div id="articleFeedbackv5-bucket4">
	<div class="form-row articleFeedbackv5-bucket4-toggle">
		<p class="sub-header"><strong>{{articlefeedbackv5-bucket4-subhead}}</strong></p>
		<p class="instructions-left">{{articlefeedbackv5-bucket4-teaser-line1}}<br />
		{{articlefeedbackv5-bucket4-teaser-line2}}</p>
	</div>
	<div class="articleFeedbackv5-disclosure">
		<p><a class="articleFeedbackv5-learn-to-edit" target="_blank">{{articlefeedbackv5-bucket4-learn-to-edit}} &raquo;</a></p>
	</div>
	<a class="articleFeedbackv5-cta-button" id="articleFeedbackv5-submit-bttn">{{articlefeedbackv5-bucket4-form-submit}}</a>
	<div class="articleFeedbackv5-clear"></div>
</div>
