<div class="articleFeedbackv5-clear"></div>
<div class="articleFeedbackv5-confirmation-panel">
	<div class="articleFeedbackv5-panel-leftContent">
		<h3 class="articleFeedbackv5-confirmation-title">{{articlefeedbackv5-cta2-confirmation-title}}</h3>
		<p class="articleFeedbackv5-confirmation-wikipediaWorks">{{articlefeedbackv5-cta2-confirmation-call}}</p>
	</div>
	<a href="&amp;action=edit" class="articleFeedbackv5-cta-button">{{articlefeedbackv5-cta2-button-text}}</a>
	<div class="articleFeedbackv5-clear"></div>
</div>