<div class="articleFeedbackv5-clear"></div>
<div class="articleFeedbackv5-confirmation-panel">
	<div class="articleFeedbackv5-panel-leftContent">
		<h3 class="articleFeedbackv5-confirmation-title">{{articlefeedbackv5-cta3-confirmation-title}}</h3>
		<p class="articleFeedbackv5-confirmation-call">{{articlefeedbackv5-cta3-confirmation-call}}</p>
	</div>
	<a href="#" class="articleFeedbackv5-cta-button" target="_blank">{{articlefeedbackv5-cta3-button-text}}</a>
	<div class="articleFeedbackv5-clear"></div>
</div>
