<div class="articleFeedbackv5-clear"></div>
<div class="articleFeedbackv5-confirmation-panel">
	<div class="articleFeedbackv5-panel-leftContent">
		<h3 class="articleFeedbackv5-confirmation-title">{{articlefeedbackv5-cta4-confirmation-title}}</h3>
		<p class="articleFeedbackv5-confirmation-call">
			{{articlefeedbackv5-cta4-confirmation-call-line1}}<br />
			{{articlefeedbackv5-cta4-confirmation-call-line2}}
		</p>
	</div>
	<div class="articleFeedbackv5-panel-buttons">
		<a href="#" class="articleFeedbackv5-cta-button articleFeedbackv5-cta-button-signup articleFeedbackv5-panel-buttons-child">{{articlefeedbackv5-cta4-button-text-signup}}</a>
		<span class="articleFeedbackv5-panel-buttons-child">{{articlefeedbackv5-cta4-button-text-or}}</span>
		<a href="#" class="articleFeedbackv5-cta-button-login articleFeedbackv5-panel-buttons-child">{{articlefeedbackv5-cta4-button-text-login}}</a>
<!--	<a href="#" class="articleFeedbackv5-cta-button-later articleFeedbackv5-panel-buttons-child">{{articlefeedbackv5-cta4-button-text-later}}</a> -->
	</div>
	<div class="articleFeedbackv5-clear"></div>
</div>
