<div class="articleFeedbackv5-flyover-header">
	<h3 id="articleFeedbackv5-noteflyover-caption"></h3>
	<a id="articleFeedbackv5-noteflyover-close" href="#"></a>
</div>
<form class="articleFeedbackv5-form-flyover" action="#">
	<div id="articleFeedbackv5-noteflyover-description"></div>
	<label id="articleFeedbackv5-noteflyover-label" for="articleFeedbackv5-noteflyover-note"></label>
	<input type="text" id="articleFeedbackv5-noteflyover-note" name="articleFeedbackv5-noteflyover-note" maxlength="255" />
	<div class="articleFeedbackv5-flyover-footer">
		<a id="articleFeedbackv5-noteflyover-submit" class="articleFeedbackv5-flyover-button" href="#"></a>
		<a class="articleFeedbackv5-flyover-help" id="articleFeedbackv5-noteflyover-help" href="#"></a>
		<div class="articleFeedbackv5-clear"></div>
	</div>
</form>
