@model dynamic

@{
    Layout = "~/Views/shared/_BootstrapLayout.basic.cshtml";
}

<h1>The Prime</h1>

<pre>
    Kata : Getting prime numbers is hard work, but the dev who last touched this made it a lot more difficult 

    1. Return the primes of the val provided only <br>
    2. Attempt to return the primes of 1000 in less than 1 second

    Hint: Go to New Relic and look at the transaction trace or make a custom dashboard for this page - see if you can find where the heat is.  
    Also there is a one line replacement for all of this code that makes the page render super snappy.
</pre>

<p>

</p>

<p>
    @foreach (int i in ViewBag.Primes) { 
        @Html.Raw(i.ToString());
        
    }
</p>