@model dynamic

@{
    ViewBag.Title = "About :: NewRelic";
    Layout = "~/Views/shared/_BootstrapLayout.basic.cshtml";
}

      <div class="hero-unit">
        <h1>New Relic</h1> 
        <P>Make the Internet faster with the New Relic application performance tool.
        Use the tool thousands of developers turn for immediate insight from the end users behavior, through servers, and down to the line of code. Performance management has never been so easy.
        <a href="http://newrelic.com">Learn more &raquo;</a>
        </P>
      
         <div class="video-content"><iframe class="wistia_embed" name="wistia_embed" src="http://fast.wistia.com/embed/iframe/56b09a78cd" allowtransparency="true" frameborder="0" scrolling="no" width="640" height="360"></iframe> </div>
      </div>

      <div class="row">
        <div class="span4">
          <h2>What is New Relic?</h2>
          <p><iframe width="350 " height="250" src="http://www.youtube.com/embed/EOVvl5Z2yHA" frameborder="0" allowfullscreen></iframe></p>
          <p><a class="btn" href="http://newrelic.com">Learn more &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>Nerd Life</h2>
          <p><iframe width="350 " height="250" src="http://www.youtube.com/embed/Op1i0B8-dJA" frameborder="0" allowfullscreen></iframe></p>
          <p><a class="btn" href="http://newrelic.com">More from MC Frontalot &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>Becoming a Nerd</h2>
          <p><iframe class="wistia_embed" name="wistia_embed" src="http://fast.wistia.com/embed/iframe/bec85fa123" allowtransparency="true" frameborder="0" scrolling="no" width="350" height="250"></iframe></p>
          <p><a class="btn" href="http://newrelic.com/about/jobs">Current jobs &raquo;</a></p>
        </div>
      </div>
