@model dynamic

@{
    ViewBag.Title = "Windows Azure";
    Layout = "~/Views/shared/_BootstrapLayout.basic.cshtml";
}

      <div class="hero-unit">
        <h1>Windows Azure</h1>
        <p>Windows Azure is an open and flexible cloud platform that enables you to quickly build, deploy and manage applications across a global network of Microsoft-managed data centers. 
            You can build applications using any language, tool or framework. 
            And you can integrate your public cloud applications with your existing IT environment.</p>
          <p><a class="btn btn-primary btn-large" href="http://www.windowsazure.com/en-us/home/features/overview/">Learn more &raquo;</a></p>
      </div>

       <div class="row">       
            <div class="span4">
                <h2>Getting started with Azure & New Relic</h2>
                    <p><iframe width="350 " height="250" src="https://fast.wistia.com/embed/iframe/vo19wfymeu?autoPlay=false&endVideoBehavior=reset&playerColor=4cb0bd&popover=true&version=v1&videoHeight=460&videoWidth=640&volumeControl=true" frameborder="0" allowfullscreen></iframe></p>
            </div>

            <div class="span4">
                <h2>Getting started</h2>
                <p>Windows Azure is an open cloud platform that enables you to quickly build, deploy and manage applications across a global network of Microsoft-managed data centers.
                You can build applications using any language, tool or framework.</p>
                <p><a class="btn" href="http://www.windowsazure.com/en-us/develop/overview/">View details &raquo;</a></p>
            </div>
            <div class="span4">
                <h2>Case studies</h2>
                <p>Have a look at some of the amazing things others have done with Windows Azure</p>
                <p><a class="btn" href="http://www.windowsazure.com/en-us/home/case-studies/">Videos &raquo;</a></p>
            </div>
      </div>
