div[id*='AdManager'] h3, div[id*='AdManager'] h5 {
	display: none;
}

div[id*='AdManager'] > div {
	border: none;
	padding-left: 0 !important;
	margin-left: 0 !important;
}

div.AdManager-content {
	float: right;
}

body.mw-special-AdManager legend {
	display: none;
}

body.mw-special-AdManager fieldset {
	padding-top: .5em;
	font-size: 125%;
	font-weight: bold;
}

body.mw-special-AdManager fieldset label {
	font-size: 75%;
	font-weight: bold;
}

body.mw-special-AdManager fieldset .mw-htmlform-field-HTMLTextAreaField {
	max-width: 20em;
	float: left;
	padding: .5em 1em;
}

body.mw-special-AdManagerZones fieldset {
	max-width: 30em;
}
