.post .headerImage {
  max-height: 540px;
}

.post .headerImage,
.post p > img {
  border-radius: 1rem 1.3rem 0 0;
}
.post .date {
  margin: 1.875rem 0 1.5rem;
  color: var(--light-grey);
}
.post h1 {
  margin-bottom: var(--x-small);
}
.post .share {
  border-top: 1px solid var(--divider);
  margin: 3rem 0;
}
.post .share,
.post .share ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
.post .share li,
.post .share h2 {
  margin: 1rem 1rem 1rem 0;
}

/* This div wraps around the blog article contents */
.post > div:first-of-type {
  margin-top: 2.5rem;
}
