.posts-grid {
  display: grid;
  margin: auto;
  max-width: 78rem;
  width: 100%;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fill, 25rem);
  grid-template-rows: auto-fit;
  justify-content: center;
}

@media (max-width: 400px) {
  .posts-grid {
    grid-template-columns: 1fr;
  }
}

.posts-grid__item {
  display: flex;
  max-width: 25rem;
  min-width: 20rem;
}

.content-blog {
  max-width: 94vw;
  margin: 5rem auto 2rem;

  @media (min-width: 1041px) {
    width: 50rem;
  }
}
