/* --------------------------------------------- */
/* --- Buttons & Links that look like buttons--- */
/* --------------------------------------------- */
a {
  transition: all 0.2s 50ms;
}
[class|="btn"],
.btn {
  display: inline-block;
  text-align: center;
  font-weight: 600;
  padding: 0.5rem 1.5rem;
  border-radius: 0.75em;
  box-shadow: var(--shadow-light);
  font-size: var(--btn-small);
  line-height: 16px;
  color: var(--black);
}
.btn,
.btn-cta {
  background-color: var(--sand-dark);
  &:hover,
  &:focus {
    background-color: var(--brand-almost-ripe);
    background-image: none;
  }
}
.btn-conversion {
  padding: 0.75rem 2rem;
  font-size: var(--p-medium);
  line-height: 1.25;
  background-color: var(--brand-almost-ripe);
  border-radius: 1rem;

  @media (min-width: 1141px) {
    min-width: 10rem;
  }

  @media (max-width: 868px) {
    padding: 0.75rem var(--xx-small);
  }
}

.btn-primary {
  background-color: var(--brand-almost-ripe);
  margin-right: var(--micro);
}

.btn-conversion,
.btn-primary {
  &:hover,
  &:focus {
    background-color: var(--brand-hover);
  }
}

.btn-secondary {
  background-color: var(--salmon);

  &:hover,
  &:focus {
    background-color: var(--salmon-hover);
  }
}

.btn-tertiary {
  background-color: var(--black);
  color: var(--white);

  &:hover,
  &:focus {
    color: var(--white);
    background-color: var(--black-hover);
  }
}

.btn-quaternary {
  background-color: var(--white);
}

/* Unique buttons */
.btn-green {
  background-color: var(--transparent-green);
  color: var(--green);
}
.btn-green:hover,
.btn-green:focus {
  background-color: var(--green);
  color: var(--off-vhite);
}

.btn-cta {
  font-size: var(--p-medium);
  padding: 0.75rem 2rem;
  border-radius: 1rem;
}

.btn-otherbrand {
  display: flex;
  align-items: center;
  padding: var(--macro) 0.75rem;
  justify-content: center;
  background-color: var(--white);
  border-radius: 0.5em;
  color: var(--black);
  box-shadow: 0px 0.5px 2px rgba(0, 0, 0, 0.1);

  &:hover,
  &:focus {
    background-color: var(--off-white);
  }
}

.btn-otherbrand img {
  display: inline-block;
  height: 24px;
  width: 24px;
  margin-right: 0.625rem;
}

.buttons-wrapper {
  --gap: var(--micro);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: calc(-1 * var(--gap)) 0 0 calc(-1 * var(--gap));
  width: calc(100% + var(--gap));

  & > * {
    margin: var(--gap) 0 0 var(--gap);
  }
}

p:last-child [class|="btn"] {
  margin-top: 1rem;
}
