.card {
  padding: var(--medium);
  background: var(--off-white);
  border-radius: 1.25rem;

  @media (max-width: 768px) {
    padding: var(--small) var(--x-small);
  }

  @media (max-width: 375px) {
    padding: var(--xx-small);
  }
}
.halfimages p small {
  display: inline-block;
  padding: 0 15%;
}
