/* -------------------------------------- */
/* --- Layout Helpers --- */
/* -------------------------------------- */

main {
  width: 90%;
  margin: 0 auto;
  max-width: 87.5rem;

  @media (max-width: 1032px) {
    width: 93%;
  }

  @media (min-width: 1141px) {
    width: 91%;
  }

  @media (max-width: 768px) {
    width: 100%;
    padding: 0 var(--micro);
  }

  @media (max-width: 375px) {
    padding: var(--macro);
  }
}

main > header:first-child,
.header,
.brief {
  text-align: center;
  margin: var(--xx-large) auto;
  width: 100%;

  @media (max-width: 972px) {
    margin: var(--x-large) 0;
  }
}
main > header:first-child {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 1140px) {
    max-width: 600px;
  }

  @media (max-width: 1040px) {
    padding: 0 var(--small);
  }

  @media (max-width: 600px) {
    padding: 0 var(--xx-small);
  }
}
main > header:first-child h1 {
  font-size: var(--h2);
  margin-bottom: var(--x-small);
}
main > header:first-child h1 + p {
  font-size: var(--p-large);
  line-height: 133.33%;
}

.brief h2 {
  margin-bottom: 2rem;
}

main > header {
  margin-bottom: var(--huge);
}
header.tight.tight {
  margin-bottom: var(--not-huge);
}

main > header + section {
  @apply mt-0 !important;
}

/* CARDS */
.halfimages {
  /* cards have the margin */
  margin-bottom: 0;
}
.halfimages article,
.cards {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 2rem;
  justify-content: center;
  max-width: 98vw;

  & > * {
    margin: 0 0 2rem;
  }
}
.cards img {
  margin: 0 auto 1em;
}
@media (min-width: 50rem) {
  .halfimages article:nth-of-type(odd) > :first-of-type {
    order: 2;
  }
  .halfimages img {
    max-width: 100%;
  }
}
.halfimages article > div {
  flex: 0 1 calc(50% - 2rem);
  min-width: 400px;
  align-self: center;

  @media (max-width: 768px) {
    min-width: 350px;
  }

  @media (max-width: 500px) {
    @apply min-w-full;
  }
}
.halfimages article p {
  margin-bottom: 2rem;
}
.cards.double > div {
  flex: 0 1 calc(50% - 2rem);
  min-width: 400px;
  align-self: stretch;

  @media (max-width: 768px) {
    min-width: 350px;
  }

  @media (max-width: 400px) {
    min-width: 300px;
  }
}
.cards.triple > div {
  flex: 0 1 calc(33% - 2rem);
  min-width: 300px;
  align-self: stretch;
  text-align: center;

  @media (max-width: 768px) {
    flex: 0 1 calc(100% - 2rem);
    min-width: 280px;
  }
}
.triple .card {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 33% 3rem 1fr 1.5rem;
}

.pricingContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
