.screencasts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 25rem));
  gap: 3.75rem 1.25rem;
  justify-content: center;
  padding: 0 1.25rem;
  margin: 2rem;
}

.cast {
  position: relative;
  display: block;
}
.cast {
  z-index: 1;
  padding: 16px 40% 16px 32px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.08), 0px 5px 20px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
  height: 225px;
  background-position: right center;
  display: flex;
  flex-flow: column;
  margin-bottom: 16px;
  position: relative;
}
.cast:hover::after,
.cast:hover::before,
.cast:focus::after,
.cast:focus::before {
  content: "";
  position: absolute;
}
.cast:hover::after,
.cast:focus::after {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(18, 16, 12, 0.7);
  border-radius: inherit;
}
.cast:hover::before,
.cast:focus::before {
  border: transparent solid;
  border-width: 20px 36px;
  border-left-color: white;
  z-index: 5;
  left: 45%;
  top: 45%;
}
.cast > div {
  height: 100%;
  display: flex;
  flex-flow: column;
}
.cast > div > * {
  flex: 0 0 auto;
}
.cast h2,
.cast .h2 {
  flex: 1;
  margin: 0;
  font-size: var(--xx-small);
  line-height: 1.125;
}
.cast data {
  color: var(--light-grey);
}
.cast svg {
  width: 5.1rem;
}
.cast * {
  text-align: left;
}
.cast > div::after {
  content: "";
  z-index: -1;
  background-image: url("/images/screencasts/gitpod-editor.jpg");
  border-radius: 0.25rem;
  filter: drop-shadow(-2px 2px 5px rgba(0, 0, 0, 0.2));
  position: absolute;
  background-size: auto 100%;
  right: 0;
  width: 140px;
  top: 1rem;
  bottom: 1rem;
  pointer-events: none;

  @media (max-width: 505px) {
    width: 115px;
  }
}
