/* for large chunks of text */
.text-blob {
  max-width: 94vw;
  margin: 5rem auto 2rem;
  --h1: 3.375rem;
  --h2: 3rem;
  --h3: 2rem;
  --h4: 1.75rem;
  --h5: 1.25rem;
  line-height: 1.75;

  @media (min-width: 1041px) {
    width: 50rem;
  }
}
.text-blob p,
.text-blob li {
  margin-bottom: 1rem;
}

.text-blob ol {
  @apply list-inside;
}

.text-blob .toc > li {
  @apply my-small;

  & h2 {
    @apply inline;
  }

  & p:first-of-type {
    @apply mt-x-small;
  }
}

.text-blob > :is(ol.toc, ul) > li::marker {
  font-size: var(--h3);
  font-weight: bold;
}
.text-blob ol.toc > li::marker {
  color: inherit;
}

.text-blob ::marker {
  color: var(--brand-ripe);
}

.text-blob ul {
  @apply pl-xx-small md:pl-x-small;
}

.text-blob ul li {
  position: relative;
  margin-bottom: 0;

  &::before {
    content: "—";
    position: absolute;
    left: calc(var(--xx-small) * -1);
    color: var(--brand-ripe);

    @media (min-width: 768px) {
      left: calc(var(--x-small) * -1);
    }
  }
}
.text-blob h2,
.text-blob h3,
.text-blob h4,
.text-blob h5 {
  margin: 1em 0;
}
