/* -------------------------------------- */
/* --- Typography --- */
/* -------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600; /* this is default. it's removed in TW. Should we just remove it from the TW reset? */
  color: var(--black);
}

.homeh1 {
  font-size: var(--h1);
  line-height: 110%;

  @media (max-width: 375px) {
    margin-bottom: var(--micro);
  }
}

h1,
.h1 {
  margin-bottom: var(--small);
  font-size: var(--h2);
  line-height: 118.5%;

  @media (max-width: 375px) {
    margin-bottom: var(--x-small);
  }
}

h2,
.h2 {
  margin-bottom: var(--macro);
  font-size: var(--h3);
  line-height: 133.33%;
}

h3,
.h3 {
  margin-bottom: var(--macro);
  font-size: var(--h4);
  line-height: 125%;
}

h4,
.h4 {
  font-size: var(--h5);
  margin-bottom: var(--macro);
  line-height: 143%;
}

h5,
.h5 {
  font-size: var(--h6);
  line-height: 120%;
}

.text-large {
  font-size: var(--p-large);
  line-height: 133.33%;
}

.text-medium {
  font-size: var(--p-medium);
  line-height: 177.77%;
}

.text-small {
  font-size: var(--p-small);
  line-height: 150%;
}

.btn-small {
  font-size: var(--btn-small);
  line-height: 171%;
}

.fine-print,
small {
  font-size: var(--fine-print);
  line-height: 133.33%;
}

@media (max-width: 375px) {
  .text-large {
    font-size: var(--p-medium);
  }
}
