<form>
	<div class="articleFeedbackv5-top-error"></div>
	<div class="form-row articleFeedbackv5-bucket6-toggle">
		<p class="instructions-left">{{articlefeedbackv5-bucket6-question-toggle}}</p>
		<div class="buttons">
			<div class="form-item" data-value="yes" id="articleFeedbackv5-bucket6-toggle-wrapper-yes">
				<label for="articleFeedbackv5-bucket6-toggle-yes">{{articlefeedbackv5-bucket6-toggle-found-yes-full}}</label>
				<a href="#" class="articleFeedbackv5-button-placeholder">{{articlefeedbackv5-bucket6-toggle-found-yes}}</a>
				<input type="radio" name="toggle" id="articleFeedbackv5-bucket6-toggle-yes" class="query-button" value="yes" />
			</div>
			<div class="form-item" data-value="no" id="articleFeedbackv5-bucket6-toggle-wrapper-no">
				<label for="articleFeedbackv5-bucket6-toggle-no">{{articlefeedbackv5-bucket6-toggle-found-no-full}}</label>
				<a href="#" class="articleFeedbackv5-button-placeholder">{{articlefeedbackv5-bucket6-toggle-found-no}}</a>
				<input type="radio" name="toggle" id="articleFeedbackv5-bucket6-toggle-no" class="query-button last" value="no" />
			</div>
			<div class="articleFeedbackv5-clear"></div>
		</div>
		<div class="articleFeedbackv5-clear"></div>
	</div>
	<div class="articleFeedbackv5-comment">
		<p id="articlefeedbackv5-feedback-countdown"></p>
		<textarea id="articleFeedbackv5-find-feedback" class="feedback-text" name="comment"></textarea>
	</div>
	<div class="articleFeedbackv5-disclosure">
		<p class="articlefeedbackv5-help-transparency-terms"></p>
	</div>
	<button class="articleFeedbackv5-submit" type="submit" disabled="disabled" id="articleFeedbackv5-submit-bttn">{{articlefeedbackv5-bucket6-form-submit}}</button>
	<div class="articleFeedbackv5-clear"></div>
</form>
