<div class="articleFeedbackv5-confirmation-text">
	<span class="articleFeedbackv5-confirmation-thanks">{{articlefeedbackv5-cta-thanks}}</span>
	<span class="articleFeedbackv5-confirmation-follow-up"></span>
</div>
