<div>
	<div class="articleFeedbackv5-disable-flyover">
		<div class="articleFeedbackv5-flyover-header">
			<h3 id="articleFeedbackv5-noteflyover-caption">{{articlefeedbackv5-disable-flyover-title}}</h3>
			<a id="articleFeedbackv5-noteflyover-close" class="articleFeedbackv5-form-flyover-closebutton" href="#"></a>
		</div>
		<div class="articleFeedbackv5-form-flyover">
			<div class="articleFeedbackv5-disable-flyover-help"></div>
			<div class="articleFeedbackv5-flyover-footer">
				<a class="articleFeedbackv5-disable-flyover-button" target="_blank">{{articlefeedbackv5-disable-flyover-prefbutton}}</a>
			</div>
		</div>
	</div>
</div>
