<div id="articleFeedbackv5-panel" class="articleFeedbackv5-panel">
	<div class="articleFeedbackv5-buffer">
		<div class="articleFeedbackv5-title-wrap">
			<h2 class="articleFeedbackv5-title"></h2>
		</div>
		<div class="articleFeedbackv5-ui">
			<div class="articleFeedbackv5-tooltip-wrap">
				<div class="articleFeedbackv5-tooltip">
					<div class="tooltip-top"></div>
					<div class="tooltip-repeat">
						<h3>{{articlefeedbackv5-help-tooltip-title}}</h3><span class="articleFeedbackv5-tooltip-close">&times;</span>
						<div class="articleFeedbackv5-clear"></div>
						<p class="articleFeedbackv5-tooltip-info">{{articlefeedbackv5-help-tooltip-info}}</p>
						<p><a target="_blank" class="articleFeedbackv5-tooltip-link">{{articlefeedbackv5-help-tooltip-linktext}}&nbsp;&gt;&gt;</a></p>
					</div>
					<div class="tooltip-bottom"></div>
				</div>
			</div>
			<div class="articleFeedbackv5-ui-inner"></div>
		</div>
	</div>
</div>
