<configuration>

  <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %level %logger{20-}: %msg%n</pattern>
    </encoder>
    <target>System.err</target>
  </appender>

  <root level="info">
    <appender-ref ref="STDERR" />
  </root>

  <logger name="org.eclipse.jetty" level="WARN" />
</configuration>
