<html>
<!-- Managed by Puppet -->
<head>
<title>Redirect</title>
<meta http-equiv="refresh" content="0; url=http://<%= @fqdn -%>/cobbler_web/">
</head>
<body>
<p>
Redirecting to <a href="http://<%= @fqdn -%>/cobbler_web/">Cobbler Web Ui</a>.
</p>
</body>
</html>
