<%= link_to "Stealth Stars, Inc.", root_path, :class => 'brand' %>
<div class="nav-collapse">
  <ul class="nav">
    <li><a href="/operatives">Operatives</a></li>
    <li><a href="/top_secret_docs">Top Secret Docs</a></li>
  </ul>
</div>
