Source: condor
Section: net
Priority: extra
Maintainer: Pierre Carrier <pierre@spotify.com>
Build-Depends: debhelper (>= 5.0.0), java-sdk, maven2
Standards-Version: 3.7.2

Package: condor
Architecture: all
Depends: java-runtime
Description: CONsistent Delivery Of Repositories
