.content-docs,
.content-blog {
  line-height: 177.7%;

  // Typography
  h1,
  h2,
  h3 {
    margin-bottom: var(--xx-small);
    font-weight: 700;
  }

  h1,
  .h1 {
    font-size: var(--h3);
  }

  h2,
  .h2 {
    font-size: var(--h4);
  }

  h3,
  .h3 {
    font-size: var(--h5);
  }

  h4,
  .h4 {
    font-size: var(--p-large);
  }

  h3 em {
    font-style: normal;
  }

  // Spacing
  * + h2,
  * + .h2 {
    margin-top: var(--medium);
  }

  * + h3,
  * + .h3 {
    margin-top: var(--large);
  }

  h4 {
    margin-bottom: var(--macro);
  }

  p + h4,
  h4 ~ h4 {
    margin-top: var(--xx-small);
  }

  p + p,
  p + ul,
  ul + p {
    margin-top: var(--micro);
  }

  blockquote {
    margin: 2rem 0;
    padding: 1.5rem;
    border-radius: 0.75rem;
    background: var(--brand-light);

    code {
      background: var(--brand-almost-ripe);
    }
  }

  ol,
  ul:not(.share > ul) {
    margin: var(--micro) 0;
  }

  ol {
    @apply list-inside list-decimal;

    li > p {
      @apply inline;
    }
  }

  ul:not(.share > ul) {
    @apply pl-xx-small md:pl-x-small;

    > li {
      position: relative;
      margin-bottom: 0;

      &::before {
        content: "—";
        position: absolute;
        left: calc(var(--xx-small) * -1);
        color: var(--brand-ripe);

        @media (min-width: 768px) {
          left: calc(var(--x-small) * -1);
        }
      }
    }
  }

  li {
    // overide _forms.scss
    margin-bottom: 0;

    + li {
      margin-top: var(--macro);
    }

    &::marker {
      color: var(--brand-ripe);
    }
  }

  // Code blocks
  :not(pre) > code {
    padding: 0.3rem 0.5rem;
    border-radius: 0.75rem;
    background: var(--brand-light);
    white-space: break-spaces;
  }

  pre {
    overflow: auto;
    display: block;
    margin: var(--micro) 0;
    padding: 1.25rem 1.5rem;
    border-radius: 0.75rem;
    background: var(--sand-dark);

    &:not(.language-null) {
      background: var(--off-white);
    }
  }

  iframe {
    max-width: 100%;
    @apply mt-micro;
  }

  p > .video-container {
    margin-top: var(--medium);
  }

  .video-container {
    position: relative;
    overflow: hidden;
    display: block;
    max-width: 100%;

    &::after {
      display: block;
      content: "";
      padding-top: 56.25%;
    }

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .table-container {
    overflow-x: auto;
  }

  table {
    width: 100%;
    min-width: 31.25rem;
    margin: var(--micro) 0;
    overflow: hidden;
    border-radius: 1rem;
    font-size: var(--p-small);
  }

  thead {
    background: var(--sand-dark);
  }

  tbody {
    background: var(--off-white);
  }

  th,
  td {
    @apply py-3 px-6;
    @apply text-left;
  }

  td {
    @apply py-4;
    line-height: 150%;
  }

  th {
    @apply font-normal;
  }

  td {
    @apply align-top;
  }

  td:first-child {
    @apply font-bold text-gray-900;
  }

  th + th,
  td + td {
    @apply border-l border-solid border-gray-400;
  }

  tr + tr {
    @apply border-t border-solid border-gray-400;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply flex items-center;

    .icon-link {
      display: flex;
      align-items: center;
      margin-left: 0.5rem;
      &::after {
        content: "";
        display: inline-block;
        height: 1.4rem;
        width: 1.4rem;
        background-image: url("/svg/headling-link.svg");
        background-size: cover;
        opacity: 0;
        transition: all 0.2s 50ms;
      }
    }

    &:focus,
    &:hover {
      .icon-link::after {
        opacity: 1;
      }
    }
  }

  a[href*="http://"]:not([href*="www.gitpod.io"]),
  a[href*="https://"]:not([href*="www.gitpod.io"])
  {
    white-space: nowrap;
    &::after {
      display: inline;
      content: url("/svg/external.svg");
      margin-left: 0.2rem;
      margin-right: 0.1rem;
      opacity: 0.6;
      transition: all 0.2s 50ms;
    }

    &:hover::after {
      opacity: 1;
    }
  }

  [class*="btn"] {
    &::after {
      display: none !important;
    }
  }

  // Hide the external link icon for certain scenarios
  .avatars a,
  .link-with-image-as-only-child {
    &::after {
      display: none !important;
    }
  }

  a[href*="https://gitpod.io/#"]
  {
    white-space: initial !important;
    &::after {
      display: none !important;
    }
  }

  .no-nowrap {
    white-space: initial !important;
    text-decoration: underline;
  }
}
